* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* width: 100vh; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}