<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark cabecalho-nav">
        <div class="container-fluid cabecalho-div">
            <a class="navbar-brand" href="#">Planetario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <form action="/logout" method="post">
                        <li class="nav-item"><button class="nav-link" type="submit">logout</button></li>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <div class="container colunas1e2"> Centraliza o conteúdo
        <div class="row rowColunas-1e2"> 
            <div class="col-6 bg-primary text-white coluna1">
                <h1>Bem vindo a pagina principal</h1>
                
            </div>
            <div class="col-6 text-white div-coluna2">Coluna 2 (8/12)</div>
        </div>
    </div> -->

    <div class="container colunas1e2"> <!-- Centraliza o conteúdo -->
        <div class="row rowColunas-1e2 "> <!-- Cria uma linha -->
            <div class="col-12 col-md-6 col-lg-6 informe-promocao">
                <h1>Black Friday: Compre seu ingresso com até 40% de desconto</h1>
                <p>Venha conhecer o cosmos e seus misterios!</p>
                <button class="informe-btn">Aproveite a oferta!</button>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/images/5157f88b59b390312659eb25e41b99bf-logotipo-da-planet-saturn.webp" alt="logo-home"
                    class="img-fluid img-home">
            </div>
        </div>

        <div class="container cards-container"> <!-- Centraliza o conteúdo -->
            <div class="row cards-home "> <!-- Cria uma linha -->
                <div class="col-12 col-md-6 col-lg-3 cards">
                    <h3>+ de 10 mil pessoas nos visitaram esse ano</h3>
                </div>
                <div class="col-12 col-md-6 col-lg-3 cards">
                    <h3>+ de 50mil de avaliações positivas</h3>
                </div>

                <div class="col-12 col-md-6 col-lg-3 cards">
                    <h3>+10 de estados onde estamos presentes</h3>
                </div>

                <div class="col-12 col-md-6 col-lg-3 cards">
                    <h3>+ de 20 anos de experiência</h3>
                </div>
            </div>
        </div>

        <div class="container info-cards-container"> <!-- Centraliza o conteúdo -->
            <div class="row info-cards"> <!-- Cria uma linha -->
                <div class="col-12 col-md-6 col-lg-4 cards-info">
                    <img src="/images/atronauta-cheerful-cartoon-astronaut-floating-in-space-with-planets-and-a-rocket-png-image_21030400.png"
                        alt="astronauta" class="astronauta-png">
                    <h3>Explore o universo como nunca antes</h3>
                    <p>
                        Encontre o plano ideal para suas ambições.
                        Descubra um novo mundo entre as estrelas. No nosso planetário, cada sessão leva você para uma
                        jornada imersiva pelo cosmos —
                        dos planetas vizinhos às galáxias distantes. Escolha seu ingresso, acomode-se e prepare-se para
                        viajar além dos limites da imaginação.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 cards cards-info">
                    <img src="/images/ChatGPT Image 19 de nov. de 2025, 19_46_31.png" alt="" class="moon-png">
                    <h3>Escolha sua experiência espacial</h3>
                    <p>
                        Você decide como quer explorar o espaço. Prefere uma aventura guiada por nossos astrônomos ou um
                        espetáculo projetado para despertar a curiosidade?
                        Seja qual for sua escolha, temos sessões únicas, narrativas envolventes e visuais de tirar o
                        fôlego.
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 cards cards-info">
                    <img src="/images/ChatGPT Image 19 de nov. de 2025, 19_53_31.png" alt="foguete" class="foguete-png">
                    <h3>Embarque em minutos</h3>
                    <p>
                        Garantir sua viagem pelas estrelas é rápido e simples. Compre seu ingresso online em poucos
                        cliques e venha viver uma experiência extraordinária.
                        Tudo pensado para que você apenas sente, olhe para cima e deixe o universo surpreender você.
                    </p>
                </div>
            </div>
        </div>



    </div>


    <footer class="container-footer">
        <div class="container"> <!-- Centraliza o conteúdo -->
            <div class="row cabecalho-div"> <!-- Cria uma linha -->
                <div class="col-12 col-md-6 col-lg-3 text-white div-p">
                    <p>Sobre nós</p>
                </div>

                <div class="col-12 col-md-6 col-lg-3 text-white div-p">
                    <p>Informações</p>
                </div>

                <div class="col-12 col-md-6 col-lg-3 text-white div-p">
                    <p>Endereço</p>
                </div>

                <div class="col-12 col-md-6 col-lg-3 text-white div-p">
                    <p>Suporte</p>
                </div>

            </div>

        </div>
        <div class="div-authorInfo">
            <p>Feito por @lucasJonas</p>
            <p>GitHub: https://github.com/JonasLucas00</p>
        </div>
    </footer>



</body>

</html>