<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/login.css">
</head>

<body>

    <div class="login-container">
        <div class="form-login">
            <form action="/login" method="post">
                <h3>Fazer Login</h3>
                <p class="insert-email">
                    <%=email%>
                </p>

                <div class="input-login">
                    <label for="password">Senha</label>
                    <input type="password" name="input_password">
                    <input type="hidden" value="<%=email%>" name="email">
                    <button type="submit">Fazer login</button>
                </div>

                <div class="errMsg">
                    <%if(typeof errMsg !=='undefined' && errMsg){%>
                        <p>
                            <%=errMsg%>
                        </p>
                        <%}%>
                </div>

                <div class="message">
                    <%if(typeof message !=='undefined' && message){%>
                        <p>
                            <%=message%>
                        </p>
                        <%}%>
                </div>

            </form>

        </div>
    </div>

</body>

</html>