<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bem vindo a rota protegida!</h1>
    <p>Olá, bem vindo a pagina Principal</p>

    <div class="container-logout">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>

    </div>

</body>

</html>