<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/userForm.css">
</head>

<body>
    <div class="UserForm-container">
        <h1>Faça login ou crie uma conta</h1>
        <p>Insira seu e-mail abaixo</p>

        <div class="UserForm-form">
            <form action="/form/show" method="post">

                <div class="inputs-UserForm">
                    <!-- <label for="email">email</label> -->
                    <input type="text" name="email" class="email-input-userForm">
                    <!-- <label for="password">password</label>
                    <input type="text" name="password"> -->
                    <button type="submit" class="register-btn">Continuar</button>
                </div>

                <%if(typeof errMsg !=='undefined' && errMsg){%>
                    <div class="msgErr">
                        <p style="color:red">
                            <%=errMsg%>
                        </p>
                    </div>
                    <% }%>

                        <%if(typeof message !=='undefined' && message){%>
                            <div class="msgErr">
                                <p style="color:red" class="msgErr">
                                    <%=message%>
                                </p>
                            </div>
                            <% }%>
            </form>
        </div>
    </div>

    <!-- <div class="login-container">
        <h1>Register Form</h1>
        <p>Fill your information below</p>

        <div class="login-form-container">
            <form action="/login" method="post">

                <div class="inputs-container">
                    <label for="email">email</label>
                    <input type="text" name="email">
                    <label for="password">password</label>
                    <input type="text" name="password">
                </div>
                <button type="submit" class="register-btn">Register</button>
            </form>
        </div>
    </div> -->
</body>

</html>