<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="home-container">
        <h1>Faça login ou crie uma conta</h1>
        <p>Insira seu e-mail abaixo</p>

        <div class="home-form">
            <form action="/form/show" method="post">

                <div class="inputs-home">
                    <label for="email">email</label>
                    <input type="text" name="email">
                    <!-- <label for="password">password</label>
                    <input type="text" name="password"> -->
                </div>
                <button type="submit" class="register-btn">Continuar</button>

                <%if(typeof errMsg !=='undefined' && errMsg){%>
                    <p style="color:red">
                        <%=errMsg%>
                    </p>
                    <% }%>

                        <%if(message){%>
                            <p style="color:red">
                                <%=message%>
                            </p>
                            <% }%>
            </form>
        </div>
    </div>

    <!-- <div class="login-container">
        <h1>Register Form</h1>
        <p>Fill your information below</p>

        <div class="login-form-container">
            <form action="/login" method="post">

                <div class="inputs-container">
                    <label for="email">email</label>
                    <input type="text" name="email">
                    <label for="password">password</label>
                    <input type="text" name="password">
                </div>
                <button type="submit" class="register-btn">Register</button>
            </form>
        </div>
    </div> -->
</body>

</html>